@use "./styles/partials/mixins" as *;
@use "./styles/partials/variables" as *;

.shows-container {
    background-color: #fff;
    border: .0625rem solid #ddd;
    border-radius: .25rem;
    width: 18.75rem;
    padding: 1.25rem;
    box-shadow: 0 0 .625rem rgba(0, 0, 0, 0.1);
}
.shows__container{
    flex: 1
}
// .date,
// .venue,
// .location,
// .buy-tickets {
//     width: 100%;
// }

.shows {
    margin: 1.5rem;


    @include desktop {
        display: flex;
        flex-direction: column;
    }
}

.shows__header-container {
    @include desktop {
        display: flex;
    }
}

.shows__header {
    font-size: 1.5625rem;
    font-weight: 600;
    padding-bottom: 2.4rem;
    padding-right: 5rem;

    @include desktop {
        display: inline-block;
        vertical-align: middle;
        margin-right: 2rem;
        padding: 1rem 4.5rem;    }
}

.show__up {
    display: none;
    padding-bottom: 0.5625rem;
    text-transform: uppercase;
    color: #666;


    @include tablet {
        display: flex;
        // gap: 14rem;
        // margin-left: 4.5rem;
        text-transform: uppercase;
        padding-bottom: 1rem;
        justify-content: unset;
    }

    @include desktop {
        display: flex;
        // gap: 25rem;
        vertical-align: baseline;
        // margin-right: 24rem;
        padding: 2rem 0rem;
    }
}


.show {
    padding-bottom: 1.25rem;
    border-bottom: .0625rem solid #ddd;
    margin-bottom: 1.25rem;

    &-section {
        width: 25%;
    }

    .show:hover {
        background-color: gray;
    }
}

.label {
    width: 25%;
}

.labels {
    padding-bottom: .5625rem;
    text-transform: uppercase;
    color: #666;

    @include tablet {
        display: none;
    }

    @include desktop {
        display: none;
    }
}

.date,
.venue,
.location {
    margin-bottom: .875rem;
    color: #333;
    font-size: .9375rem;
}

.date {
    font-weight: 600;
}

.venue,
.location {
    color: #333;
    font-size: 1rem;
}

.buy-tickets {
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 0.8em 1.5em;
    border: none;
    border-radius: .3125rem;
    cursor: pointer;
    text-transform: uppercase;

    @include desktop {
        width: 39%;
    }
}

.buy-tickets:hover {
    background-color: #555;
}

.show-details {
    @include tablet {
        display: flex;
        align-items: baseline;
        margin: auto;
        justify-content: space-around;
    }
}

.shows__music {
    display: right;
    width: 95%;
}

.show_hero {
    .hero__content--desktop {
        @include desktop {
            display: flex;
            justify-content: space-between;
        }
    }

    .hero__text,
    .shows__music {
        @include desktop {
            flex: 1;
        }
    }

    .hero__text {
        @include desktop {
            margin-right: 2rem;
        }
    }

    .shows__music {
        @include desktop {
            margin-left: 2rem;
        }
    }
}