@use "./mixins" as *;
@use "./variables" as *;

.contact {
    padding: 1rem;
}

.footer {
    text-align: justify;
    padding: 1.5625rem;
    font-size: $font-size-body;
    background-color: $bandSite-Black;
    color: $white;

    &__logo2 {
        display: none;

        @include tablet {
            display: block;
        }
    }

    &__logo1 {
        @include tablet {
            display: none;
        }
    }
}

.footer__social-icons {
    @include tablet {
        display: flex;
        gap: 11rem;
        justify-content: space-around;
    }
}

.footer__title {
    padding-bottom: 1.5625rem;

    @include tablet {
        padding: .625rem;
        font-size: 1rem;
    }
}

.footer__contacts {
    @include tablet {
        display: flex;
        justify-content: space-between;
    }
}

.icon {
    @include tablet {
        padding: .625rem;
    }
}

.footer-info {
    @include tablet {
        display: flex;
        padding: .625rem;
        gap: 6.25rem;
    }
}

.footer__h3 {
    padding-bottom: .625rem;
    padding-top: .625rem;
}

.info {
    padding-top: .625rem;
    padding-bottom: .625rem;
}

.footer__copyright {
    padding-top: .625rem;

    @include tablet {
        padding-left: .625rem;
        padding-top: .625rem;
    }
}

.footer__logo1 {
    padding: 0;
}

.footer__logo {
    display: flex;
    align-items: center;
}

.emails {
    text-decoration: none;
    color: $white;
}

.logo1 {
    padding-top: .625rem;
}

.footer__agent {
    padding-bottom: 2.1875rem;
}