@use "./mixins" as *;

.contact {
    padding: 1rem;
}

.footer {
    text-align: justify;
    padding: 1.5625rem;
    font-size: 0.8rem;
    background-color: #323232;
    color: #fff;

    &__logo2 {
        display: none;

        @include tablet {
            display: block;
        }
    }

    &__logo1 {

        @include tablet {
            display: none;
        }

    }
}

.footer__social-icons {
    @include tablet {
        display: flex;
        align-items: flex-end;

    }
}

.footer__title {
    @include tablet {
        padding: 10px;
    }
}

.footer__contacts {
    @include tablet {
        display: flex;
        justify-content: space-between;
    }
}

.icon {
    @include tablet {
        padding: 10px;
    }
}

.footer-info {
    @include tablet {
        display: flex;
        justify-content: space-around;
    }
}