//gallery and images
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
    background-color: #E1E1E1;

    img {
        width: 100%;
        margin: 1rem;
        transition: filter 0.3s;

        &:hover {
            filter: grayscale(0%);
        }
    }
}

.gallery__text {
    display: flex;
}