@use "./variables" as *;
@use "./font" as *;
@use "./mixins" as *;

.gallery {
    display: flex;
    flex-wrap: wrap;
    padding: 1.875rem;
    background-color: $Alabaster;

    @include tablet {
        justify-content: space-between;
    }

    @include desktop {
        padding: 1rem 5rem;
    }

    .gallery__text {
        text-align: left;
        width: 100%;
        margin-bottom: 1.25rem;
        font-size: 2.25rem;
    }

    img {
        width: 90%;
        transition: filter 0.3s, background-color 0.3s;
        max-width: 33.125rem;
        padding: 0.3125rem;

        &:hover {
            filter: grayscale(20%);
            background-color: $silver;
        }
    }
}

@media (min-width: $breakpoint-tablet) {
    .gallery {
        img {
            width: 30%;
            padding-bottom: .5rem;
        }
    }
}

.background-img {
    padding: .3125rem;
}