@use "./variables" as *;
@use "./font" as *;


// Gallery and images
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem;
    background-color: $Mercury;

    .gallery__text {
        // Assuming this is your h2 selector based on your previous code snippet
        text-align: left; // Aligns the title text to the left
        width: 100%; // Ensures the title stretches across the full width of the gallery container
        margin-bottom: 1.25rem;
        font-size: 2.25rem;
        padding-left: 1.5625rem;
    }

    img {
        width: 90%; // Default width for mobile-first design
        transition: filter 0.3s;
        max-width: 33.125rem; // Initially setting a max-width to keep images smaller
        padding: inherit;

        &:hover {
            filter: grayscale(0%);
        }
    }
}

@media (min-width: $breakpoint-tablet) {
    .gallery {
        img {
            width: 30%; // Allow image to scale with its original aspect ratio
            padding-bottom:1.25rem;
        }
    }
}

.background-img {
    padding: .3125rem;
}