@use "./mixins" as*;

// Header and Navigation
.header {
    background-color: #323232;
    display: column;

    // border-bottom: 1px solid $secondary-color;
    // &:hover {
    //     text-decoration: underline;
}

.container {
    padding: 1.5rem;
    display: flex;
    justify-content: center;
}

.nav {
    color: #ffffff;
    padding: 1rem;
    background-color: #323232;


    &__logo {
        text-decoration: none;
        color: $primary-color;
        font-weight: bold;
        @include responsive-text(1.5rem);
    }

}

.nav__ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;


}

.nav__link {
    color: #ffffff;
    text-decoration: none;
    margin: 0 .625rem;

    &:hover {
        text-decoration: oldlace;
        border-bottom: solid 3px red;
    }
}