@use "./mixins" as*;
@use "./variables" as*;
@use "./font" as *;

// Header and Navigation
.header {
    background-color: $bandSite-Black;
    display: column;

    @include tablet {
        display: flex;
        padding: 0;
        font-weight: bold;
        align-items: flex-end;
    }

}

.container {
    padding: 1.5rem;
    display: flex;
    justify-content: center;
}

.nav {
    color: $white;
    padding: 1rem;
    background-color: $bandSite-Black;


    &__logo {
        text-decoration: none;
        color: $primary-color;
        font-weight: bold;
        @include responsive-text(1.5rem);
    }

}

.nav__ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;


}

.nav__link {
    color: $white;
    text-decoration: none;
    // margin: 0 .625rem;
    width: 50%;

    @include tablet {
        padding: 2rem;
    }

    &:hover {
        text-decoration: $Alabaster;
        padding-bottom: 1rem;
        border-bottom: solid 3px $white;
    }
}

.active {
    padding-bottom: 1rem;
    border-bottom: solid 3px $white;
}