@use "./mixins" as*;
@use "./variables" as*;
@use "./font" as *;

// Header and Navigation
.header {
    background-color: $bandSite-Black;
    display: column;

    @include tablet {
        display: flex;
        padding: 0;
        font-weight: 2rem;
        align-items: center;
    }

}

.container {
    padding: 1.5rem;
    display: flex;
    justify-content: center;
}

.nav {
    color: $white;
    padding: 1rem;
    background-color: $bandSite-Black;


    &__logo {
        text-decoration: none;
        color: $primary-color;
        @include responsive-text(1.5rem);
    }

}

.nav__ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;


}

.nav__link {
    color: $white;
    text-decoration: none;
    width: 100%;
    padding-right: 13rem;
    padding-bottom: 2.3rem;
    padding-left: 13rem;

    @include tablet {
        padding-right: 2rem;
        padding-left: 2rem;
    }

    &:hover,
    &:active {
        text-decoration: $Alabaster;
        border-bottom: solid 3px $white;
    }

    &--active {
        font-weight: 600;
    }
}


.nav__li {
    padding: 1.4rem 0 1.6rem;
    text-align: center;
    width: 50%;
    @include tablet{
        padding-right:2rem ;
    }
}