@use "./variables" as *;
@use "./font" as *;

.hero {
    background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url(../assets/images/hero-bio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 18rem;
    display: flex;
    align-items: center;
    padding-left: 1.875rem;
}
.show_hero{
    background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url(../assets/images/Photo-gallery-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 18rem;
    display: flex;
    align-items: center;
    padding-left: 1.875rem;

}

h1 {
    color: $white;
    font-size: 2rem;
}

.band__image {
    width: 90%;
    margin: 1.5625rem;
}
