@use "./variables" as *;
@use "./font" as *;
@use "./mixins" as *;

.hero {
    background: linear-gradient(rgba($bandSite-Black, 0.5), rgba($bandSite-Black, 0.5)), url(../assets/images/hero-bio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 18rem;
    display: flex;
    align-items: center;
    padding-left: 1.875rem;

    @include desktop {
        padding-left: 5rem
    }
}

.show_hero {
    background: linear-gradient(rgba($bandSite-Black, 0.5), rgba($bandSite-Black, 0.5)), url(../assets/images/Photo-gallery-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 25rem;
    display: flex;
    align-items: center;
    padding-left: 1.875rem;

    @include desktop {
        display: flex;
        align-items: center;
        // justify-content: center;
        padding-left: 5.8rem;
    }
}

h1 {
    margin-bottom: 1.25rem;
    color: #fff;
    font-size: 2rem;
    overflow-wrap: break-word;
    font-weight: normal;
}

.shows__music-header {
    color: $white;
    font-weight: 500;
    padding-bottom: 1rem;
}


.band__image {
    width: 90%;
    margin: 1.5625rem;
}