// // Main content and sections
// .band-info {
//     padding: 1rem;

//     &__title {
//         @include responsive-text(2rem);
//     }

//     &__description,
//     &__quote {
//         @include responsive-text(1rem);
//     }
// }

.Musicians {
    padding: 1.25rem;
}

.body-text {
    padding: 1.25rem;
}

.band-info__description {
    padding: .9375rem;
}

.band-info__quote{
    padding: .9375rem;
}

.band-info__content {
    display: flex;
    justify-content: space-between; // Ensures space between paragraphs
    margin-bottom: 20px;

    .band-info__description {
        flex: 1; // Ensures that each paragraph takes up equal space
        margin: 0 10px; // Adds space between the paragraphs
        text-align: justify;
    }
}