@use "./mixins" as *;
@use "./variables" as*;
@use "./font" as *;

.band__image {
    display: flex;
}

.section-about__image {
    width: 90%;
    padding-left: 2rem;

    @include tablet {
        padding-left: 5rem;
    }

    @include desktop {
        padding-left: 11rem;
    }
}

.section__tow {
    display: flex;
}

.Musicians {
    padding: 1.25rem;
}

.body-text {
    padding: 0;
}

.section-about {
    // padding: 0 2rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    font-weight: 600;

    &__header {
        font-size: 2rem;
        margin-bottom: 1rem;
        padding-left: 1.875rem;
        font-weight: 600;

        @include desktop {
            padding: 0 5rem;
        }
    }

    &__quote {
        width: 90%;
        padding-left: 2rem;
        margin-top: 1rem;
        display: flex;
        font-family: Avenir;
        font-weight: 400;
        line-height: 2rem;
        font-size: 1.2rem;

        @include tablet {
            padding-left: 5rem;
        }

        @include desktop {
            padding-left: 11rem
        }
    }
}

.band-info__description {
    padding-top: 0.9375rem;
    font-size: medium;
}

.band-info__quote {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    display: flex;
    font-family: Avenir;
    font-weight: 600;
    font-size: medium;
    width: 20%;

}

.small-text {
    font-size: .625rem;
}

.band-info__content {
    @include tablet {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.25rem;
    }
}

.band-info__description {
    @include tablet {
        flex: 1;
        margin: 0 .625rem;
        text-align: inherit;
        font-size: 1.625rem;
    }
}

@mixin tablet {
    @media (min-width: 48rem) {
        @content;
    }
}

.bees-keens__section {
    // padding-left: .5rem;
    font-size: 1.5rem;
    font-weight: 600;

    // @include tablet {
    //     padding-left: 2.5rem;
    // }
}

.second__section {
    padding: 2.1875rem 5rem;

    @include desktop {
        padding: 5rem 11rem;
    }
}