@use "./mixins" as *;
@use "./variables" as*;

// // Main content and sections
// .band-info {
//     padding: 1rem;

//     &__title {
//         @include responsive-text(2rem);
//     }

//     &__description,
//     &__quote {
//         @include responsive-text(1rem);
//     }
// }
.band__image {
    display: flex;
}

.section__tow {
    display: flex;
}

.Musicians {
    padding: 1.25rem;
}

.body-text {
    padding: 0;
}

.band-info__description {
    padding: 0.9375rem;
    font-size: medium;
}

.band-info__quote {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    display: flex;
    font-family: Avenir;
    font-weight: 600;
    font-size: medium;

}

.band-info__content {
    @include tablet {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
}

.band-info__description {
    @include tablet {
        flex: 1;
        margin: 0 10px;
        text-align: inherit;
        font-size: 26px;
    }
}

@mixin tablet {
    @media (min-width: 768px) {
        /* Common breakpoint for tablets */
        @content;
    }
}

.bees-keens__section {
    padding-left: 1.375rem;
}

.second__section {
    padding: 2.1875rem;

}