// Define breakpoints as variables for easy maintenance

$breakpoint-tablet: 48rem;
$breakpoint-desktop: 80rem;

//heasder sizes/
$font-size: 1.5rem;
$line-height: 2rem;
$font-weight: 700;

// body sizes/
$font-size-body: .8125rem;
$line-height-body: 1.125rem;
$font-weight-body: 400;

//subheader sizes//
$subheader-text-size: .875rem;
$subheader-line-height: 1.375rem;
$subheader-font-weight: 600;


// body text//
$body-text-size: .8125rem;
$body-line-height: 1.125rem;
$body-text-weight: 400;

//footer //
// $footer-text-size: .8125rem;
$footer-line-height: 1.125rem;
$footer-text-weight: 400;


//labels & buttons//
$label-button-text-size: .625rem;
$label-button-line-height: 1.25rem;
$label-button-text-weight: 700;

//primary colors//
$bandSite-Black: #323232;
$silver: #AFAFAF;
$white: #FFFFFF;

//secondary colors//
$BandSite-DarkBlack: #000000;
$Mercury: #E1E1E1;
$Alabaster: #FAFAFA;